<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <footer>Goodbye</footer>

    <script src="lib/bootstrap/css/bootstrap"></script>
</body>
</html>
